<h1 mat-dialog-title>Carga de las notas</h1>
<div *ngIf="backendError" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <img src="assets/images/error_exc.png" alt="Error:" height="25" width="25">
  <label> {{backendErrorMessage}}</label>
</div>
<div mat-dialog-content>
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>EVALUACIÓN</th>
                <th>MATERIA</th>
                <th>ALUMNO</th>
                <th>CALIFICACION</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nota of data.notas">
                <td>{{ nota.evaluacion.descripcion }}</td>
                <td>{{ nota.evaluacion.materia.descripcion }}</td>
                <td>{{ nota.alumnoCurso.alumno.persona.apellido }} {{ nota.alumnoCurso.alumno.persona.nombre }}</td>
                <td>
                  <ng-container *ngIf="banderaEditar && isSelected(nota.id); else sinEditar">
                    <div class="form-group">
                      <div class="form-line">
                        <input type="text" class="form-control" [(ngModel)]="nota.calificacion" placeholder="Calificación" />
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #sinEditar>
                    {{ nota.calificacion }}
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!banderaEditar">
                    <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float" (click)="editar(nota.id)" title="Editar nota">
                      <i class="material-icons">edit</i>
                    </button>
                  </ng-container>
                  <ng-container *ngIf="banderaEditar && isSelected(nota.id)">
                    <button type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float" (click)="guardar(nota)" title="Guardar nota">
                      <i class="material-icons">done</i>
                    </button>
                    <button type="button" class="btn btn-danger btn-circle waves-effect waves-circle waves-float" (click)="cancelar(nota.id)" title="Cancelar">
                      <i class="material-icons">clear</i>
                    </button>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions style="text-align: right">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button mat-button (click)="onNoClick()">Cerrar</button>
  </div>
</div>